@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #1e1e1e;
    --yellow: #fbc324;
    --white: #faf0e6;
}

.app {
    background-color: var(--bg-color);
}

#intro {
    background-color: #212745;
    height: 100vh;
}

#intro-flex {
    width: 100%;
    height: 100%;
    padding: 10vh 10vw;
}

#intro-image {
    border: 10px solid #A7EA52;
    border-radius: 50%;
    padding: 10px;
}

#intro-text {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    padding: 5px;
}

.grad {
    background: linear-gradient(to right, #A7EA52, #5DCEAF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.highlight {
    color: #FFFF00;
}