@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #1e1e1e;
    --yellow: #fbc324;
    --white: #faf0e6;
}

#app {
    background-color: #212745;
    height: 100vh;
}

#intro {
}

#intro-flex {
    width: 100%;
    height: 100%;
    padding: 10vh 10vw;
}

#intro-image {
    border: 1vw solid #A7EA52;
    border-radius: 50%;
    padding: 1vw;
}

#intro-text {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    padding: 5px;
}

.grad {
    background: linear-gradient(to right, #A7EA52, #5DCEAF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.highlight {
    color: #FFFF00;
}

#header, #footer {
    width: 20%;
    /* position: absolute; */
}

a {
    text-decoration: none;
    color: #A7EA52;
}

a:hover {
    color: #5DCEAF;
}

.icons {
    padding: 5% 0;
    text-decoration: none;
    color: #A7EA52;
    font-size: 2vw;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

#fa-mouse {
    opacity: 0.2;
    color: #A7EA52;
}