@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Playfair+Display&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #1e1e1e;
    --yellow: #fbc324;
    --white: #faf0e6;

    /* --grad: linear-gradient(to right, #A7EA52, #5DCEAF);
    --highlight: #fbc324;
    --color-1: #5ECCF3;
    --color-2: #FFFFFF;
    --color-3: #A7EA52;
    --color-4: #5DCEAF;
    --color-5: #84b840; */

    --grad: linear-gradient(to right, #ffffff, #cccccc);
    --highlight: #fbc324;
    --color-1: #999999;
    --color-2: #FFFFFF;
    --color-3: #fbc324;
    --color-4: #bbbbbb;
    --color-5: #888888;
}

body {
    font-family: "Roboto Mono", monospace;
    height: 100vh;
    /* background-color: #212745; */
}

.color-1 {
    color: var(--color-1);
}

#scrollScreen {
    background-color: #222222;
    height: 100vh;
    position: absolute;
}

#intro {
}

#intro-flex {
    width: 100%;
    height: 100%;
    padding: 10vh 10vw;
}

#intro-image {
    border: 1vw solid var(--color-3);
    border-radius: 50%;
    padding: 1vw;
}

#intro-text {
    padding: 5px;
}

.grad {
    background: var(--grad);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-grad {
    background: var(--grad);
}

.bg-grad.active {
    background: linear-gradient(to right, #84b840, #43937d);
}

.highlight {
    color: #fbc324;
}

#header, #footer {
    width: 20%;
    /* position: absolute; */
}

a {
    text-decoration: none;
    color: var(--color-2);
}

a:hover {
    color: var(--color-3);
}

.icons {
    padding: 5% 0;
    text-decoration: none;
    color: var(--color-3);
    font-size: 2vw;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

#fa-mouse {
    opacity: 1;
    color: var(--color-2)
}

#projectScreen {
    position: absolute;
    top: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #222222 0%, #000000 100%);
}

#projectHeader {
    padding: 5vh 0;
}

/* #debtTracker {
    width: 60%;
    height: 80vh;
    border-radius: 5px;
} */

.project-desc {
    width: 30%;
    margin-left: 5vh;
}

.card {
    margin-right: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8) 90%);
    z-index: 1;
    font-family: "Playfair Display", serif;
}

